.planner-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}
.toolbar {
  padding: 10px;
  width: 400px;
  height: 200px;
  border-radius: 15px;
  background-color: gray;
}
.board {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  background-color: gray;
}

.ceil {
  /* border: 1px solid black; */
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
}
